* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    font-family: Pretendard, -apple-system, Segoe UI, Roboto, Helvetica Neue, "sans-serif";
}

li, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus {
    outline: none;
  }

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.daily{
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    min-height: 100vh;
}

.header{
    width: 100%;
    z-index: 90;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    box-sizing: border-box;
}

.header-top{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(33, 34, 39);
    padding: 10px 0px;
}

.header-top-content{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 16px;
    gap: 10px 8px;
    flex-wrap: wrap;
}

.header-top-left{
    position: relative;
    z-index: 10;
    margin-right: 16px;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.header-top-left > div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-top-left > div >.logo-title{
    font-family: neon;
    color: #426DFB;
    cursor: pointer;
    font-size: 49.7px;
    text-shadow: 0 0 29.82px #2356FF;
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 9.94px #1041FF, 0 0 29.82px #1041FF, 0 0 90.94px #1041FF, 0 0 90.94px #1041FF, 0 0 3.976px #8BFDFE, 4.97px 4.97px 0.994px #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 4.97px #082180, 0 0 14.91px #082180, 0 0 49.7px #082180, 0 0 49.7px #082180, 0 0 1.988px #082180, 4.97px 4.97px 0.994px #0A3940;
      color: #146C80;
    }
}

.header-logo{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 32px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
}

.divider{
    flex: 1 1 0%;
}

.header-top-right{
    width: 250px;
    margin: 0px;
    order: 4;
}

.header-searchbox{
    position: relative;
    z-index: 10;
    display: flex;
    border-radius: 4px;
    background-image: linear-gradient(90deg, rgb(63, 230, 253), rgb(198, 35, 255));
    background-clip: border-box;
    background-origin: border-box;
    border: 1px solid transparent;
    overflow: hidden;
}

.inner{
    position: absolute;
    inset: 0px;
    z-index: -1;
    border-radius: 4px;
    background-color: rgb(37, 42, 60);
}

.header-searchform{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgb(45, 47, 55);
    overflow: hidden;
}

.header-searchinput{
    flex: 1 1 0%;
    display: block;
    width: 100%;
    height: 100%;
    padding: 9px 0px 9px 11px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: 0px;
    background-color: rgb(45, 47, 55);
    line-height: 100%;
    outline: 0px;
}

.header-searchbutton{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 9px 11px 9px 8px;
    background-color: rgb(45, 47, 55);
    border: 0px;
    cursor: pointer;
}

.header-bottom{
    display: flex;
    width: 100%;
    background: rgb(39, 40, 46);
    justify-content: center;
    padding: 0px 24px;
}

.header-bottom-nav{
    width: 100%;
    max-width: 1080px;
    height: 48px;
}

.header-bottom-nav-ul{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.header-bottom-nav-li{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: rgb(207, 209, 215);
    transition: font-size 0.3s ease;
}

.header-bottom-nav-li:hover{
    font-size: 16px;
}

.header-bottom-nav-li > a {
    display: flex;
    gap: 4px;
    color: rgb(207, 209, 215);
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.header-bottom-nav-li > a > span{
    padding: 6px 0px;
}

.header-bottom-nav-li > a > span.active{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.cube > a {
    display: flex;
    gap: 4px;
    color: rgb(34, 238, 61);
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.cube > a > span.active{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.starforce > a {
    display: flex;
    gap: 4px;
    color: rgb(238, 235, 67);
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.starforce > a > span.active{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 20px;
}

.home-banner{
    position: absolute;
    width: 100%;
    height: 230px;
    top: 0px;
    left: 0px; 
}

.home-bg{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-bg-mobile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-section > a {
    z-index: 2;
    font-size: 0px;
    height: 40px;
}

.home-section > a > div.logo{
    width: 192px;
    height: auto;
}

.home-search{
    z-index: 3;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 16px;
    margin-top: 24px;
}

.home-searchform{
    z-index: 2;
    border: 1px solid #426DFB;
    background: rgb(22, 22, 24);
    border-radius: 4px;
    padding: 3px 11px;
    display: flex;
    align-items: center;
    max-width: 210px;
}

.home-searchform > input:placeholder-shown{
    text-overflow: ellipsis;
}

.home-searchinput{
    background: none;
    border: none;
    padding: 0px;
    width: 154px;
    flex: 1 1 0%;
    color: rgb(255, 255, 255);
}

.home-searchbutton{
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-favorite{
    width: 100%;
    z-index: 2;
    padding: 16px;
    background: rgb(22, 22, 24);
    margin-top: 24px;
}

.home-favorite-box{
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.098);
    background: rgba(0, 0, 0, 0.4);
}

.home-favorite-box-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(22, 22, 24);
    padding-left: 12px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

.home-favorite-box-title > span{
    color: rgb(255, 255, 255);
    font-size: 12px;
}

.home-favorite-box-body{
    display: flex;
    flex-direction: column;
}

.home-favorite-box-body *{
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
}

.home-favorite-box-body-content{
    display: flex;
    padding: 0px 12px;
    height: 28px;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.098);
}

.home-favorite-content-left{
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: rgb(207, 209, 215);
}

.home-favorite-content-left-num{
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    background: rgb(44, 65, 44);
    border-radius: 2px;
    justify-content: center;
    font-size: 11px !important;
}

.home-favorite-content-right{
    color: rgb(132, 137, 153);
    display: flex;
    align-items: center;
}

.footer{
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px 16px;
    margin-top: 100px;
}

.footer-content{
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.footer-content-top{
    color: rgb(132, 137, 153);
    font-size: 14px;
    line-height: 14px;
    display: flex;
    row-gap: 12px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    color: rgb(132, 137, 153);
}

.wrap > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-content-bottom{
    color: rgb(132, 137, 153);
    font-size: 12px;
    line-height: 16px;
}

.home-main{
    background: rgb(245, 245, 245);
    width: 100%;
    max-width: 1120px;
    padding: 0px 16px;
    margin: 0px auto;
    z-index: 1;
}

.home-main-form{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.home-main-first{
    width: 100%;
    display: grid;
    gap: 20px;
}

.dojang{
    border: 1px solid rgb(246, 167, 48);
    border-radius: 8px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.theseed{
    border: 1px solid rgb(92, 184, 92);
    border-radius: 8px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.achievement{
    border: 1px solid rgb(83, 147, 202);
    border-radius: 8px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.union{
    border: 1px solid rgb(109, 98, 161);
    border-radius: 8px;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.dojang > header{
    width: 100%;
    padding: 14px 0px;
    border-bottom: 1px solid rgb(233, 234, 237);
}

.dojang > header > h2{
    text-align: center;
    font-weight: 600;
    color: rgb(246, 167, 48);
}

.theseed > header{
    width: 100%;
    padding: 14px 0px;
    border-bottom: 1px solid rgb(233, 234, 237);
}

.theseed > header > h2{
    text-align: center;
    font-weight: 600;
    color: rgb(92, 184, 92);
}

.achievement > header{
    width: 100%;
    padding: 14px 0px;
    border-bottom: 1px solid rgb(233, 234, 237);
}

.achievement > header > h2{
    text-align: center;
    font-weight: 600;
    color: rgb(83, 147, 202);
}

.union > header{
    width: 100%;
    padding: 14px 0px;
    border-bottom: 1px solid rgb(233, 234, 237);
}

.union > header > h2{
    text-align: center;
    font-weight: 600;
    color: rgb(109, 98, 161);
}

.dojang-main{
    display: flex;
    align-items: center;
    padding: 16px;
    column-gap: 4px;
}

.dojang > .more{
    display: block;
    width: 100%;
    padding: 13px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: rgb(246, 167, 48);
}

.theseed > .more{
    display: block;
    width: 100%;
    padding: 13px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: rgb(92, 184, 92);
}

.achievement > .more{
    display: block;
    width: 100%;
    padding: 13px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: rgb(83, 147, 202);
}

.union > .more{
    display: block;
    width: 100%;
    padding: 13px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background: rgb(109, 98, 161);
}

.dojang-main > img.character-image{
    width: 72px;
    height: 72px;
}

.dojang-main > div{
    display: flex;
    flex-direction: column;
}

.dojang-main > div > .level{
    display: flex;
    align-items: center;
    column-gap: 2px;
    margin-bottom: 8px;
}

.dojang-main > div > .level > div{
    display: flex;
    align-items: center;
    gap: 4px;
}

.dojang-main > div > .level > div > b{
    font-size: 16px;
    font-weight: 600;
}

.dojang-main > div > .level > span{
    font-size: 12px;
    font-weight: 400;
    color: rgb(132, 137, 153);
}

.dojang-main > div > img.character-image{
    display: none;
    width: 96px;
    height: 96px;
}

.dojang-main > div > .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.dojang-main > div > .info > .player{
    display: flex;
    column-gap: 2px;
    align-items: center;
}

.dojang-main > div > .info > .player > span{
    font-size: 12px;
}

.dojang-main > div > .info > .player > span.name{
    font-weight: 600;
}

.dojang-main > div > .info > .job{
    font-size: 12px;
    color: rgb(132, 137, 153);
}

.home-main-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.home-main-article{
    border: 1px solid rgb(233, 234, 237);
    border-radius: 8px;
    overflow: hidden;
}

.home-article-h3{
    display: flex;
    padding: 11px 16px;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    align-items: center;
}

.home-article-h3 div {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.home-article-h3 > div > b {
    margin-right: 4px;
    font-weight: 600;
}

.home-article-more{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background: rgb(255, 255, 255);
}

.home-article-more > a {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 28px;
    border: 1px solid rgb(233, 234, 237);
}

.home-article-table{
    display: grid;
    grid-template-columns: 50px minmax(40px, 1fr) 50px 90px;
    border-top: 1px solid rgb(233, 234, 237);
    background: rgb(255, 255, 255);
}

.home-article-table-th{
    padding: 9px 0px;
    background: rgb(240, 243, 245);
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.home-article-table .center{
    text-align: center;
}

.home-article-table .responsive{
    display: none !important;
}

.home-article-table a{
    color: rgb(109, 98, 161);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-article-table-td{
    padding: 10px 0px 9px;
    border-bottom: 1px solid rgb(233, 234, 237);
    color: rgb(102, 106, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
}

.first{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(255, 185, 59);
}

.second{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(102, 106, 122);
    background: rgb(221, 233, 243);
}

.third{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(202, 147, 114);
}

.etc{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: rgb(102, 106, 122);
}

.home-article-table .name{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;
    width: 100%;
}

.home-article-table .name a{
    color: rgb(0, 0, 0);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-article-table .name .span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-update-table{
    display: grid;
    grid-template-columns: 120px 1fr;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(233, 234, 237);
    align-items: center;
}

.home-update-badge{
    border-bottom: 1px solid rgb(233, 234, 237);
    padding: 11px 16px 10px;
}

.badge-text{
    width: 70px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    margin: 0px auto;
    color: rgb(92, 184, 92);
    background: rgba(92, 184, 92, 0.1);
}

.home-update-title{
    padding: 13px 16px 12px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgb(233, 234, 237);
}

.home-update-title span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    position: relative;
}

.char{
    background-color: rgb(245, 245, 245);
    width: 100%;
    max-width: 1200px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0px auto;
}

.char-top{
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px; 
}

.char-top .start{
    position: relative;
    min-height: 320px;
    height: 320px;
    width: 100%;
    background-color: rgb(26, 29, 34);
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.char-top .date{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: right;
    bottom: 0px;
    right: 2px;
    z-index: 2;
}

.char-top .date > span {
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    color: rgb(198, 198, 198);
    font-size: 11px;
}

.char-top .bg{
    width: 500px;
    height: 320px;
    position: absolute;
    right: -10px;
}

.char-top .bg > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48rem;
    height: 48rem;
    background-color: rgba(68, 170, 219, 0.8);
    mix-blend-mode: screen;
    transition: all 1s ease-out 0s;
    mask-image: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgba(255, 105, 0, 0) 100%);
}

.char-top .bg > div > img{
    position: absolute;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.char-top .section{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
    z-index: 10;
}

.char-top .char{
    position: absolute;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
}

.char-top .section > .item{
    padding-left: 16px;
    padding-top: 16px;
}

.char-top .charimg{
    display: flex;
    flex-direction: column;
}

.char-top .aximg{
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    color: #1c1f26;
}

.char-top .aximg > div{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}

.char-top .aximg > div > img{
    object-fit: cover;
    height: 200px;
    aspect-ratio: auto 270 / 200;
    width: 270px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.char-top .aximgdate{
    margin-top: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.char-top .aximgdate > button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px rgb(198, 198, 198);
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: var(--mui-shape-borderRadius);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(198, 198, 198);
}

.char-top .aximgdate > svg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
}

.char-top .info{
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}

.char-top .box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.char-top .world{
    margin-bottom: 8px;
    display: flex;
    gap: 5px;
}

.char-top .world > div{
    max-width: 100%;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    color: var(--mui-palette-text-primary);
    background-color: var(--mui-palette-action-selected);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: unset;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.16);
}

.char-top .world > div > span {
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-right: 8px;
    white-space: nowrap;
}

.char-top .name{
    box-sizing: inherit;
}

.char-top .title{
    display: flex;
    flex-direction: row;
    -webkit-box-align: end;
    align-items: end;
}

.char-top .charname{
    display: flex;
    flex-direction: row;
    gap: 4px;
    -webkit-box-align: end;
    align-items: end;
}

.char-top .charname > img{
    width: 20px;
    aspect-ratio: auto 20 / 20;
    height: 20px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.char-top .charname > h4{
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    line-height: 1.235;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.char-top .title > button{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px 0px 0px 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    overflow: visible;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid gray;
    width: 24px;
    height: 24px;
}

.char-top .title > svg{
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.25rem;
    color: gray;
}

.char-top .charspec{
    display: flex;
    flex-direction: column;
}

.char-top .firstp{
    margin: 8px 0px 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgb(255, 255, 255);
}

.char-top .firstp > span{
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    color: rgb(198, 198, 198);
    display: inline;
}

.char-top .firstp > a{
    margin: 0px;
    font: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.char-top .p{
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgb(255, 255, 255);
}

.char-top .p > span{
    margin: 0px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    color: rgb(198, 198, 198);
    display: inline;
}

.char-top .level{
    margin-top: 16px;
    display: flex;
    flex-flow: wrap;
    gap: 8px 16px;
}

@media (max-width: 374px) {
    .header-top-left > div >.logo-title{
        font-family: neon;
        color: #426DFB;
        cursor: pointer;
        font-size: 13px;
        text-shadow: 0 0 29.82px #2356FF;
        animation: flux 2s linear infinite;
        -moz-animation: flux 2s linear infinite;
        -webkit-animation: flux 2s linear infinite;
        -o-animation: flux 2s linear infinite;
    }
}

@media (min-width: 375px) and (max-width: 415px){
    
    .header-top-left > div >.logo-title{
        font-family: neon;
        color: #426DFB;
        cursor: pointer;
        font-size: 18px;
        text-shadow: 0 0 29.82px #2356FF;
        animation: flux 2s linear infinite;
        -moz-animation: flux 2s linear infinite;
        -webkit-animation: flux 2s linear infinite;
        -o-animation: flux 2s linear infinite;
    }

}

@media (min-width: 416px) and (max-width: 482px){
    
    .header-top-left > div >.logo-title{
        font-family: neon;
        color: #426DFB;
        cursor: pointer;
        font-size: 30px;
        text-shadow: 0 0 29.82px #2356FF;
        animation: flux 2s linear infinite;
        -moz-animation: flux 2s linear infinite;
        -webkit-animation: flux 2s linear infinite;
        -o-animation: flux 2s linear infinite;
    }
    
}

@media (min-width: 600px) {
    .char-top{
        padding-left: 24px;
        padding-right: 24px;
    }

    .char-top .char{
        flex-basis: 50%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 50%;
    }

    .char-top .info{
        flex-basis: 50%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .header-top-content {
        flex-direction: row;
        padding: 0px 24px;
    }

    .header-bottom-nav-ul{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        gap: 20px;
        padding: 8px;
    }

    .home-section{
        padding: 80px 20px 0px;
        height: 550px;
    }

    .home-banner{
        height: 520px;
    }

    .home-bg{
        display: unset;
        object-fit: cover;
        max-width: 4000px;
        max-height: 550px;
        min-height: 550px;
        width: 100%;
        height: auto;
    }

    .home-bg-mobile{
        display: none;
    }

    .home-section > a {
        height: 50px;
    }

    .home-section > a > img.logo{
        width: 242px;
    }
    
    .home-searchform{
            max-width: 500px;
    }

    .home-searchinput{
        width: 304px;
    }

    .home-favorite{
        padding: 0px;
        background: rgba(22, 22, 24, 0.4);
        width: 500px;
    }

    .home-main{
        padding: 0px 20px;
    }

    .home-main-first{
        grid-template-columns: 2fr 2fr;
    }

    .dojang-main{
        flex-direction: column;
    }

    .dojang-main > img.character-image{
        display: none;
    }

    .dojang-main > div{
        align-items: center;
        row-gap: 6px;
    }
    
    .dojang-main > div > .level{
        order: 3;
        flex-direction: column;
        row-gap: 6px;
    }

    .dojang-main > div > .level > div > b{
        font-size: 20px;
        line-height: 20px;
    }

    .dojang-main > div > .level > span{
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
    }

    .dojang-main > div > img.character-image{
        display: inline;
        order: 2;
    }

    .dojang-main > div > .info{
        flex-direction: row;
        align-items: center;
        order: 1;
    }

    .home-main-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .home-article-table{
        display: grid;
        grid-template-columns: 50px minmax(40px, 1fr) 50px 90px 90px;
    }

    .home-article-table .responsive{
        display: flex !important;
    }
    
}

@media (min-width: 900px) {
    .char-top .char{
        flex-basis: 25%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 25%;
    }

    .char-top .info{
        flex-basis: 41.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 41.6667%;
    }
}

@media (min-width: 1144px) {
    .header-top-content {
        width: 1080px;
        padding: 0px;
    }

    .home-main{
        border-radius: 16px;
    }

    .home-main-first{
        grid-template-columns: repeat(4, 1fr);
    }

    .overlay{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 255px;
        height: 284px;
        background: linear-gradient(105deg,
            transparent 40%,
            rgba(255, 219, 112, 0.8) 45%,
            rgba(132, 50, 255, 0.6) 50%,
            transparent 54%);
        filter: brightness(1.2) opacity(0.8);
        mix-blend-mode: color-dodge;
        background-size: 150% 150%;
        background-position: 100%;
        transition: all 0.1s;
    }
}

@media (min-width: 1200px) {
    .char-top{
        max-width: 1200px; 
    }

    .char-top .char{
        flex-basis: 25%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 25%;
    }

    .char-top .info{
        flex-basis: 41.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 41.6667%;
    }
}

@media (min-width: 1536px) {
    .char-top .char{
        flex-basis: 25%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 25%;
    }

    .char-top .info{
        flex-basis: 41.6667%;
        -webkit-box-flex: 0;
        flex-grow: 0;
        max-width: 41.6667%;
    }
}