* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    font-family: Pretendard, -apple-system, Segoe UI, Roboto, Helvetica Neue, "sans-serif";
}

li, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input:focus {
    outline: none;
  }

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.daily{
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    min-height: 100vh;
}

.header{
    width: 100%;
    z-index: 90;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    box-sizing: border-box;
}

.header-top{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(33, 34, 39);
    padding: 10px 0px;
}

.header-top-content{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 16px;
    gap: 10px 8px;
    flex-wrap: wrap;
}

.header-top-left{
    position: relative;
    z-index: 10;
    margin-right: 16px;
}

.header-logo{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 32px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
}

.divider{
    flex: 1 1 0%;
}

.header-top-right{
    width: 250px;
    margin: 0px;
    order: 4;
}

.header-searchbox{
    position: relative;
    z-index: 10;
    display: flex;
    border-radius: 4px;
    background-image: linear-gradient(90deg, rgb(63, 230, 253), rgb(198, 35, 255));
    background-clip: border-box;
    background-origin: border-box;
    border: 1px solid transparent;
    overflow: hidden;
}

.inner{
    position: absolute;
    inset: 0px;
    z-index: -1;
    border-radius: 4px;
    background-color: rgb(37, 42, 60);
}

.header-searchform{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: rgb(45, 47, 55);
    overflow: hidden;
}

.header-searchinput{
    flex: 1 1 0%;
    display: block;
    width: 100%;
    height: 100%;
    padding: 9px 0px 9px 11px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border: 0px;
    background-color: rgb(45, 47, 55);
    line-height: 100%;
    outline: 0px;
}

.header-searchbutton{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 9px 11px 9px 8px;
    background-color: rgb(45, 47, 55);
    border: 0px;
    cursor: pointer;
}

.header-bottom{
    display: flex;
    width: 100%;
    background: rgb(39, 40, 46);
    justify-content: center;
    padding: 0px 24px;
}

.header-bottom-nav{
    width: 100%;
    max-width: 1080px;
    height: 48px;
}

.header-bottom-nav-ul{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.header-bottom-nav-li{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: rgb(207, 209, 215);
    transition: font-size 0.3s ease;
}

.header-bottom-nav-li:hover{
    font-size: 16px;
}

.header-bottom-nav-li > a {
    display: flex;
    gap: 4px;
    color: rgb(207, 209, 215);
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.header-bottom-nav-li > a > span{
    padding: 6px 0px;
}

.header-bottom-nav-li > a > span.active{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.cube > a {
    display: flex;
    gap: 4px;
    color: rgb(34, 238, 61);
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.cube > a > span.active{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.starforce > a {
    display: flex;
    gap: 4px;
    color: rgb(238, 235, 67);
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.starforce > a > span.active{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 20px;
}

.home-banner{
    position: absolute;
    width: 100%;
    height: 230px;
    top: 0px;
    left: 0px; 
}

.home-bg{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-section > a {
    z-index: 2;
    font-size: 0px;
    height: 40px;
}

.home-section > a > img.logo{
    width: 192px;
    height: auto;
}

.home-search{
    z-index: 3;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0px 16px;
    margin-top: 24px;
}

.home-searchform{
    z-index: 2;
    border: 1px solid rgb(92, 184, 92);
    background: rgb(22, 22, 24);
    border-radius: 4px;
    padding: 3px 11px;
    display: flex;
    align-items: center;
    max-width: 210px;
}

.home-searchform > input:placeholder-shown{
    text-overflow: ellipsis;
}

.home-searchinput{
    background: none;
    border: none;
    padding: 0px;
    width: 154px;
    flex: 1 1 0%;
    color: rgb(255, 255, 255);
}

.home-searchbutton{
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer{
    background: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px 16px;
    margin-top: 100px;
}

.footer-content{
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.footer-content-top{
    color: rgb(132, 137, 153);
    font-size: 14px;
    line-height: 14px;
    display: flex;
    row-gap: 12px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    color: rgb(132, 137, 153);
}

.wrap > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-content-bottom{
    color: rgb(132, 137, 153);
    font-size: 12px;
    line-height: 16px;
}

.home-main{
    background: rgb(245, 245, 245);
    width: 100%;
    max-width: 1120px;
    padding: 0px 16px;
    margin: 0px auto;
    z-index: 1;
}

.home-main-form{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.home-main-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

.home-main-article{
    border: 1px solid rgb(233, 234, 237);
    border-radius: 8px;
    overflow: hidden;
}

.home-article-h3{
    display: flex;
    padding: 11px 16px;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    align-items: center;
}

.home-article-h3 div {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.home-article-h3 > div > b {
    margin-right: 4px;
    font-weight: 600;
}

.home-article-more{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background: rgb(255, 255, 255);
}

.home-article-more > a {
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 28px;
    border: 1px solid rgb(233, 234, 237);
}

.home-article-table{
    display: grid;
    grid-template-columns: 50px minmax(40px, 1fr) 50px 90px;
    border-top: 1px solid rgb(233, 234, 237);
    background: rgb(255, 255, 255);
}

.home-article-table-th{
    padding: 9px 0px;
    background: rgb(240, 243, 245);
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.home-article-table .center{
    text-align: center;
}

.home-article-table .responsive{
    display: none !important;
}

.home-article-table a{
    color: rgb(109, 98, 161);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-article-table-td{
    padding: 10px 0px 9px;
    border-bottom: 1px solid rgb(233, 234, 237);
    color: rgb(102, 106, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
}

.first{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(255, 185, 59);
}

.second{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(102, 106, 122);
    background: rgb(221, 233, 243);
}

.third{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(202, 147, 114);
}

.etc{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: rgb(102, 106, 122);
}

.home-article-table .name{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    gap: 4px;
    flex-grow: 1;
    width: 100%;
}

.home-article-table .name a{
    color: rgb(0, 0, 0);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-article-table .name .span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .header-top-content {
        flex-direction: row;
        padding: 0px 24px;
    }

    .header-bottom-nav-ul{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        gap: 20px;
        padding: 8px;
    }

    .home-section{
        padding: 80px 20px 0px;
        height: auto;
    }

    .home-banner{
        height: 520px;
    }

    .home-bg{
        display: unset;
    }

    .home-section > a {
        height: 50px;
    }

    .home-section > a > img.logo{
        width: 242px;
    }
    
    .home-searchform{
            max-width: 500px;
    }

    .home-searchinput{
        width: 304px;
    }

    .home-main{
        padding: 0px 20px;
    }

    .home-main-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .home-article-table{
        display: grid;
        grid-template-columns: 50px minmax(40px, 1fr) 50px 90px 90px;
    }

    .home-article-table .responsive{
        display: flex !important;
    }
}

@media (min-width: 1144px) {
    .header-top-content {
        width: 1080px;
        padding: 0px;
    }
}